body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

.sectionformatting {
    background: #ebebeb; 
    text-align: center;
    /*the below code tosses the element in the center. Updated it from margin: auto to both left and right in hopes to have some control over the top and bottom margins */
    margin: auto;
   /*margin-left: auto;
    margin-right: auto;*/
    width: 50%;
    
    /* current issue: margins! because I am using this margin/width hack to center everything on the page, I 
    cannot add margins to anything. Padding doesn't seem to do the trick, it needs to be margins I think.
    I have tried to use the above margin-left and margin-right instead of the margin auto (which I assume does top, left, right, and bottom"
    but the nested article spills out of the bottom and over the footer */

  
}


header {
  
   
}

nav {

}

div {
   
}

section {
      /*maybe I can use px instead of % on width to allow room for margins. Might need to use an ID because it seems when I mess around with 
      width at an element level, the class width: auto supersedes it. This might be fine because everythign is already in a <div> that
      should have all of formatting it needs */
   width: 64%;
   float: left;
   height: 150px;
  
}

aside {
    width: 30%;
    float: left;
    height: 150px;
    
}   

footer {
    content: "";
    clear: both;
    display: table;
   
}

article {
    color: #ebebeb;
    background: #777;
}

h1 {
    color: #777;
   
}

p {
    color: #777;
    
}